# use 0.0.0.0 to allow app to connect when running in docker
export OTEL_COLLECTOR_HOST=otelcol
export OTEL_COLLECTOR_PORT_GRPC=4317
export OTEL_COLLECTOR_PORT_HTTP=4318
export OTEL_EXPORTER_OTLP_ENDPOINT=http://${OTEL_COLLECTOR_HOST}:${OTEL_COLLECTOR_PORT_HTTP}